.medico{
    position: absolute;
    top: 35%;
    left: 5%;
}

.paciente{
    position: absolute;
    top: 25%;
    left: 37%;
}

.clinica{
    position: absolute;
    top: 35%;
    left: 70%;
}

.tipo-c{
    position: absolute;
    top: 14%;
    left: 38%;
    font-size: 20px;
    color: #538e83 ;
}

.text-med{
    position: absolute;
    left: 50%;
    font-size: 20px;
}

.text-cli{
    position: absolute;
    left: 35%;
    top: 100%;
    font-size: 20px;
}